# **Pandas**
* Pandas is a Library or set of codes that we can import to our codes and perform actions like analyze, clean, filter, manipulate, explore, model etc.. on the datasets.
* Pandas was developed by Mckinsey in 2008
* There are broadly 2 datastructures in Pandas
    * **Series**
    * **Dataframe**
* import pandas is used to import pandas library into codes.

 **Series**
* Series is **1 Dimensional Array** data structure
* Series kind of represents a **single column** in a table
* It can store any kind of datatype i.e. any datatype
* Elements of series can be accessed using indexes

**Dataframe**
* Dataframe is a **2 Dimensional** data structure
* Data is presented in the form of **Rows & Colulmns**
* Dataframe is considered as combination of multiple Series

**Numpy vs Pandas**
* Numpy stores Homogenous data, In Pandas data can be Homogenous & Heterogenous.
* Numpy is better for data rows < 50K & Pandas is better for data > 50K
* Numpy consumes less memory than Pandas
* Numpy is preffered while using numbers , Pandas is preferred for Tabular data.

# **Series**

**Creating Series from List**

In [1]:
li = ["Sree","Nivas","Cnu","CJ","Srini"]
li

['Sree', 'Nivas', 'Cnu', 'CJ', 'Srini']

In [2]:
import pandas as pd

In [3]:
srs = pd.Series(li)
print(srs)

# index is added to series data by default
# datatype of list is String but in pandas it wil be represented as Object

0     Sree
1    Nivas
2      Cnu
3       CJ
4    Srini
dtype: object

**Boolean Series**

In [4]:
l2 = [True,False,False,True]
l2

[True, False, False, True]

In [5]:
s = pd.Series(l2)
s

0     True
1    False
2    False
3     True
dtype: bool

**Numeric Series**

In [6]:
l3 = [12,23,4,5,6]
l3

[12, 23, 4, 5, 6]

In [7]:
s2 = pd.Series(l3)
print(s2)

0    12
1    23
2     4
3     5
4     6
dtype: int64

In [8]:
l4 = ['Srini','SE',23,46.9,True]
l4

['Srini', 'SE', 23, 46.9, True]

In [9]:
s3 = pd.Series(l4)
s3

0    Srini
1       SE
2       23
3     46.9
4     True
dtype: object

**Creating Series from Dictionary**

In [10]:
# List only has numeric index but Series can have any type of index
# Series is advanced form of dictionary
# Keys' index is unique but index value of Series can repeat
# We can perform methematical computations on Series unlike on Dictionary

In [11]:
d = {
    "name":"Srini",
    "Age" : 23,
    "Employed":True,
    "DOB":1999-11-20
    }
d

{'name': 'Srini', 'Age': 23, 'Employed': True, 'DOB': 1968}

In [12]:
s4 = pd.Series(d)
s4

name        Srini
Age            23
Employed     True
DOB          1968
dtype: object

**Customized Index**

In [13]:
l5 = [12,10,25,15,9]
l6 = ["a","b","c","d","e"]

In [14]:
s5 = pd.Series(data = l5,index = l6)
s5
# Here the l6 will be the  index of the series
# length of both the lists should be same to use as index for the Series

a    12
b    10
c    25
d    15
e     9
dtype: int64

**Creating Series from csv file**

In [15]:
dta = pd.read_csv('vgsales.csv')
dta

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [16]:
dta.count

<bound method DataFrame.count of         Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]>

In [17]:
data = pd.read_csv('vgsales.csv', usecols=['Name'])
data

                                                   Name
0                                            Wii Sports
1                                     Super Mario Bros.
2                                        Mario Kart Wii
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16598 rows x 1 columns]

**Attributes**

In [18]:
data.shape

(16598, 1)

In [19]:
data.ndim

2

In [20]:
data.values

array([['Wii Sports'],
       ['Super Mario Bros.'],
       ['Mario Kart Wii'],
       ...,
       ['SCORE International Baja 1000: The Official Game'],
       ['Know How 2'],
       ['Spirits & Spells']], dtype=object)

In [21]:
data.index

RangeIndex(start=0, stop=16598, step=1)

In [22]:
data.is_unique

AttributeError: 'DataFrame' object has no attribute 'is_unique'

In [23]:
data.size

16598

In [24]:
#help(pd.Series)

# Builtin Methods of Series
*

In [25]:
sales = pd.read_csv('vgsales.csv', usecols=['Global_Sales'])

In [26]:
sales

       Global_Sales
0             82.74
1             40.24
2             35.82
3             33.00
4             31.37
...             ...
16593          0.01
16594          0.01
16595          0.01
16596          0.01
16597          0.01

[16598 rows x 1 columns]

In [27]:
sales.min()

Global_Sales    0.01
dtype: float64

In [28]:
sales.max()

Global_Sales    82.74
dtype: float64

In [29]:
sales.sum()

Global_Sales    8920.44
dtype: float64

In [30]:
sales.prod()

C:\Users\R\PycharmProjects\pythonProject\python\virtual\Lib\site-packages\numpy\core\_methods.py:53: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

Global_Sales    inf
dtype: float64

In [31]:
sales.abs()

       Global_Sales
0             82.74
1             40.24
2             35.82
3             33.00
4             31.37
...             ...
16593          0.01
16594          0.01
16595          0.01
16596          0.01
16597          0.01

[16598 rows x 1 columns]

In [32]:
sales.mean()

Global_Sales    0.537441
dtype: float64

In [33]:
sales.idxmax()

Global_Sales    0
dtype: int64

In [34]:
sales.idxmin()

Global_Sales    15980
dtype: int64

In [35]:
len(sales)

16598

In [36]:
sales.head() # it will return Top 5 records

   Global_Sales
0         82.74
1         40.24
2         35.82
3         33.00
4         31.37

In [37]:
sales.head(9) # it will return Top n records

   Global_Sales
0         82.74
1         40.24
2         35.82
3         33.00
4         31.37
5         30.26
6         30.01
7         29.02
8         28.62

In [38]:
sales.tail() # it will return Bottom 5 records
# sales.tails(1) # it will return Bottom 1 records

       Global_Sales
16593          0.01
16594          0.01
16595          0.01
16596          0.01
16597          0.01

In [39]:
#sorted(sales) #data will be sorted in ascending order by default
sorted(sales, reverse = True) # descending order

['Global_Sales']

In [40]:
type(sales)

pandas.core.frame.DataFrame

In [41]:
bs = pd.Series([True,False,True,True,False])

In [42]:
bs.all() # all will return True if all data values are true

False

In [43]:
bs.any() # all will return True if any data values is true

True

In [44]:
bs1 = pd.Series([1,2,3,4])

In [45]:
bs1.all() # excpet 0 all other values are True

True

In [46]:
all(bs1>2)

False

In [47]:
any(bs1>2)

True

In [48]:
sr= pd.Series(data = l5,index = l6)
sr

a    12
b    10
c    25
d    15
e     9
dtype: int64

In [49]:
sr.add_prefix("CJ") # Broadcasting Prefix's and Suffix's to the index

CJa    12
CJb    10
CJc    25
CJd    15
CJe     9
dtype: int64

In [50]:
sr.add_suffix("CJ")

aCJ    12
bCJ    10
cCJ    25
dCJ    15
eCJ     9
dtype: int64

**Sort_values with inplce parameter**

In [51]:
import numpy as np

In [52]:
n = np.random.randint(0,30,10)
n

array([ 7, 10, 19, 22,  4, 28, 11, 12,  5, 23])

In [53]:
s = pd.Series(n)
s

0     7
1    10
2    19
3    22
4     4
5    28
6    11
7    12
8     5
9    23
dtype: int32

In [54]:
s.sort_values()

4     4
8     5
0     7
1    10
6    11
7    12
2    19
3    22
9    23
5    28
dtype: int32

In [55]:
s.sort_values(ascending = False)

5    28
9    23
3    22
2    19
7    12
6    11
1    10
0     7
8     5
4     4
dtype: int32

In [56]:
#s = s.sort_values(inplace = True)
# inplce = True will make the changes permanent

In [57]:
s.sort_index()

0     7
1    10
2    19
3    22
4     4
5    28
6    11
7    12
8     5
9    23
dtype: int32

In [58]:
st = pd.Series([21,23,21,23,98],index = ['Cj','Jo','Cj','Jo','Cn'])

In [59]:
# this method will remove the duplicates
st.drop_duplicates()

Cj    21
Jo    23
Cn    98
dtype: int64

In [60]:
st.drop_duplicates(keep = False,inplace = True)

In [61]:
st

Cn    98
dtype: int64

In [62]:
data.count()

Name    16598
dtype: int64

In [63]:
d = data.drop_duplicates(keep = False )
print(d.count())

Name    8718
dtype: int64

**Handling Null Values**

In [64]:
mask = data.isna() # wherever we have Null it will have True

In [65]:
data[mask]

      Name
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
16593  NaN
16594  NaN
16595  NaN
16596  NaN
16597  NaN

[16598 rows x 1 columns]

In [66]:
t = pd.Series(['23','34',None,'24','28'],index = ['Hyd','Bglr','Chn','Del','Mum'])

In [67]:
t.isna()

Hyd     False
Bglr    False
Chn      True
Del     False
Mum     False
dtype: bool

In [68]:
msk = t.isna()
msk

Hyd     False
Bglr    False
Chn      True
Del     False
Mum     False
dtype: bool

In [69]:
t[msk]

Chn    None
dtype: object

In [70]:
t.dropna() # inplace

Hyd     23
Bglr    34
Del     24
Mum     28
dtype: object

In [71]:
t.fillna(20)

Hyd     23
Bglr    34
Chn     20
Del     24
Mum     28
dtype: object

In [72]:
data.describe()

                               Name
count                         16598
unique                        11493
top     Need for Speed: Most Wanted
freq                             12

In [73]:
data.isna()

        Name
0      False
1      False
2      False
3      False
4      False
...      ...
16593  False
16594  False
16595  False
16596  False
16597  False

[16598 rows x 1 columns]

In [74]:
data[mask]

      Name
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
16593  NaN
16594  NaN
16595  NaN
16596  NaN
16597  NaN

[16598 rows x 1 columns]

# IN Operator
* By default the in operator in series will return the index values

In [75]:
1 in data

False

In [76]:
1 in data.index # searching index

True

In [77]:
"Wii Sports" in data.values # will return the values

True

In [78]:
data.values

array([['Wii Sports'],
       ['Super Mario Bros.'],
       ['Mario Kart Wii'],
       ...,
       ['SCORE International Baja 1000: The Official Game'],
       ['Know How 2'],
       ['Spirits & Spells']], dtype=object)

# Indexing & Slicing

In [79]:
a = pd.read_csv('vgsales.csv', usecols = ['Name'])

In [80]:
a

                                                   Name
0                                            Wii Sports
1                                     Super Mario Bros.
2                                        Mario Kart Wii
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16598 rows x 1 columns]

In [81]:
a[4]

KeyError: 4

In [82]:
a[a.count()-1] # to fetch the last element value

KeyError: "None of [Index([16597], dtype='int64')] are in the [columns]"

In [83]:
a[0:11] # a[start_indx:end_indx] # default start index is 0

                         Name
0                  Wii Sports
1           Super Mario Bros.
2              Mario Kart Wii
3           Wii Sports Resort
4    Pokemon Red/Pokemon Blue
5                      Tetris
6       New Super Mario Bros.
7                    Wii Play
8   New Super Mario Bros. Wii
9                   Duck Hunt
10                 Nintendogs

In [84]:
a[0:11:3] # a[start_indx:end_indx:step]

                    Name
0             Wii Sports
3      Wii Sports Resort
6  New Super Mario Bros.
9              Duck Hunt

In [85]:
l = [1,3,56] # list

In [86]:
#interger index
a[l] # using list items as index

KeyError: "None of [Index([1, 3, 56], dtype='int32')] are in the [columns]"

In [87]:
a = pd.read_csv('vgsales.csv', usecols = ['Name','Global_Sales'], index_col = 'Name')

In [88]:
a

                                                  Global_Sales
Name
Wii Sports                                               82.74
Super Mario Bros.                                        40.24
Mario Kart Wii                                           35.82
Wii Sports Resort                                        33.00
Pokemon Red/Pokemon Blue                                 31.37
...                                                        ...
Woody Woodpecker in Crazy Castle 5                        0.01
Men in Black II: Alien Escape                             0.01
SCORE International Baja 1000: The Official Game          0.01
Know How 2                                                0.01
Spirits & Spells                                          0.01

[16598 rows x 1 columns]

In [89]:
a['Wii Sports']

KeyError: 'Wii Sports'

In [90]:
a[1] # in background the numeric inde is still exists oif we use specified indexes

KeyError: 1

In [91]:
#a['Asteroids':'Boxing':2]

**Reindex**
* Reindex will return the value as null if the index is not present in the series
* if duplicate indexes is present it will throw an error

In [92]:
#a.reindex(index=['Asteroids','Boxing'])

# Get Method
* get() method will not throw error if the passed index is not present in the series

In [93]:

a['Asteroids']

KeyError: 'Asteroids'

In [94]:
a.get('Asteroids')

In [95]:
print(a.get('Asteroid')) # if no dat found it will return none.

None

In [96]:
a.get('Asteroids',default = 'Index not found')

'Index not found'

In [97]:
a.get('Asteroid',default = 'Index not found')

'Index not found'

# value_counts Method
* returns counts of unique values.

In [98]:
a = pd.read_csv('vgsales.csv',usecols=['Genre'])

In [99]:
a.value_counts()

Genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: count, dtype: int64

In [100]:
a.value_counts(ascending = True)

Genre
Puzzle           582
Strategy         681
Fighting         848
Simulation       867
Platform         886
Racing          1249
Adventure       1286
Shooter         1310
Role-Playing    1488
Misc            1739
Sports          2346
Action          3316
Name: count, dtype: int64

In [101]:
a.value_counts().head()

Genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Name: count, dtype: int64

# apply() Method
*

In [102]:
a = pd.read_csv('vgsales.csv',usecols=['Global_Sales'])
a

       Global_Sales
0             82.74
1             40.24
2             35.82
3             33.00
4             31.37
...             ...
16593          0.01
16594          0.01
16595          0.01
16596          0.01
16597          0.01

[16598 rows x 1 columns]

In [103]:
def review(num):
    if num >= 75:
        return "Exceed Target"
    elif (num >= 50 and num <= 75):
        return "Met Target"
    else:
        return "Need to improve"

In [104]:
b = a.apply(review)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [105]:
b.value_counts()

NameError: name 'b' is not defined

# **Map**

In [106]:
a = pd.Series(['Kolkata','Rajasthan','Kashmir','Kerala'],index = ['East','West','North','South'])
a

East       Kolkata
West     Rajasthan
North      Kashmir
South       Kerala
dtype: object

In [107]:
b = pd.Series(['warm','hot','cool','green'], index =['Kolkata','Rajasthan','Kashmir','Kerala'])
b

Kolkata       warm
Rajasthan      hot
Kashmir       cool
Kerala       green
dtype: object

In [108]:
a.map(b)

East      warm
West       hot
North     cool
South    green
dtype: object

In [109]:
b.map(a)

Kolkata      NaN
Rajasthan    NaN
Kashmir      NaN
Kerala       NaN
dtype: object